#portfolio {
  margin: 20px auto;
  height: 100vh;
  max-width: 800px;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  overflow: auto;
  overflow-x: hidden;
}

.project {
  margin: 50px auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  text-align: left;
  padding-left: 30px;
  max-height: 7500px;
}

.project-description {
  max-width: 650px;
}

.project-content {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px 20px 20px;
  margin-left: 60px;
}

.project-description h1 {
  margin-left: 65px;
  font-size: 2.5rem;
}

.project-description h3 {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 65px;
  font-size: 1.5rem;
}

.project-description a {
  color: #00b3c0;
}

.project-description p {
  font-size: 1rem;
}

.project-image {
  max-width: 530px;
}

.custom-arrow-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.75rem;
  opacity: 0.3;
  cursor: pointer;
  z-index: 20;
  left: 5px;
  margin-left: 5px;
}

.custom-arrow-prev:hover {
  opacity: 1;
}

.custom-arrow-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.75rem;
  opacity: 0.3;
  cursor: pointer;
  z-index: 20;
  right: 485px;
}

.custom-arrow-next:hover {
  opacity: 1;
}

.arrow-icon {
  width: 2.25rem;
  height: 2.25rem;
  color: aqua;
}


@media screen and (max-width: 767px) {
  #portfolio {
    margin: auto;
    padding: 0;
    height: 100vh;
    max-width: 800px;
    margin: auto;
    display: block;
  }

  .project {
    margin: 0;
    height: auto;
    padding: 0;
    display: block;
  }

  .project-description {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .project-description h1{
    font-size: 30px;
    margin-left: 20px;
    padding-left: 30px;
    margin-bottom: 0;
  }

  .project-description h3 { 
    margin-left: 20px;
    padding-left: 30px;
    font-size: 20px;
  }

  .project-content {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
  }

  .custom-arrow-prev {
    position: absolute;
    left: 0;
    top: 11%;
    transform: translateY(-50%);
    padding: 0.75rem;
    opacity: 0.3;
    cursor: pointer;
    z-index: 20;
    left: -15px;
    margin-left: 5px;
    border: none;
    background: none;
  }
  
  .custom-arrow-next {
    position: absolute;
    right: 0;
    top: 11%;
    transform: translateY(-50%);
    padding: 0.75rem;
    opacity: 0.3;
    cursor: pointer;
    z-index: 20;
    right: 0;
    border: none;
    background: none;
  }
}

.custom-arrow-prev,
.custom-arrow-next {
  background: none; /* Removes background color */
  border: none; /* Removes border */
}
