.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
}

.content {
  max-width: 800px; /* adjust as needed */
  font-size: 3em;
  color: #fff; /* Choose the color you want for your text */
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
}
