body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.home-title {
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
}

.home-name {
  font-size: 48px;
  font-weight: bold;
}

.home-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.home-text a:hover{
  color: #00eeff;
}

a {
  color: #00b3c0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 767px) {
  .home {
    margin-left: 20px;
  }
}