.bio {
  padding: 50px 0 0 0;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

.bio-image {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.bio-text {
  height: 100vh;
  font-size: 1.2rem;
  line-height: 1.5;
  /* margin-bottom: 20px; */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.technologies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.technologies li {
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #00b3c0;
  color: white;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .bio {
    padding: 0px;
    margin-left: 20px;
  }

  .bio-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
