.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 100vh;
  }
  
  .bio-text {
    width: 600px;
  }
  
  .bio-image {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin: 0px 0px 200px 50px;
    border: 7px solid #525252;
    filter: grayscale(.25);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  p {
    font-size: 23px;
    font-weight: 350;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .technologies{
    list-style:circle;
    padding-bottom: 5em;
  }
  
  @media (max-width: 767px) {
    .bio {
      flex-direction: column-reverse;
      align-items: center;
      height: 100%;
    }
  
    .bio-image {
      display: none;
    }

    .bio-text {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    p {
      font-size: 16px;
      text-align: center;
    }
  }
  