.navbar {
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand {
    color: #c2c2c2;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: flex-start;
  }
  
  nav.navbar.navbar-expand{
    background-color: #202529;
  }
  
  
  
  @media (max-width: 767px) {
  
    .navbar-brand {
      font-size: 1.2rem;
      justify-content: center;
    }
  }
  