.navbar,
.name,
.portfolio-nav,
.about,
.resume {
  font-family: 'GlitchDemoRegular', sans-serif;
}

.navbar {
  font-family: 'GlitchDemoRegular', sans-serif;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 255, 255, 0.8), rgba(0, 128, 128, 0));
  padding: 0;

  display: flex;
  justify-content: space-between;
  height: 70px;
}

.name {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-left: 30px;
  cursor: pointer;
  background: none;
  color: #fff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
  background: none;
  border: none;
  padding-bottom: 10px;
  transition: text-shadow 0.3s ease-in-out;
}

.name:hover {
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
}



a:visited {
  color: rgb(0, 0, 0);
}

body.light-mode a:visited {
  color: black;
}

.portfolio-nav,
.about {
  border: none;
  color: #000000;
  background: none;
}

a {
  color: #000000;
}

.sections {
  display: inline-block;
}

.about,
.portfolio-nav,
.resume {
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-left: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.resume {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 20px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.about:hover,
.resume:hover,
.portfolio-nav:hover:hover {
  color: #00eeff;
}

.toggle-container {
  display: inline-block;
  font-size: 24px;
  margin: 20px 30px;
  cursor: pointer;
  color: #00b3c0;
}

.toggle-container:hover {
  color: #00eeff;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  margin-right: 30px;
  cursor: pointer;
  color: #00b3c0;
}

.navbar.dark-mode {
  background-color: #111;
  color: #fff;
}

.navbar.dark-mode .name,
.navbar.dark-mode .link-style {
  color: #fff;
}

.navbar.dark-mode .menu-toggle div {
  background-color: #fff;
}

.navbar.dark-mode .toggle-container {
  border-color: #fff;
}

@media (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .name {
    font-size: 32px;
    margin: 10px 20px;
    background: none;
  }

  .sections {
    display: none;
  }

  .portfolio-nav,
  .about,
  .resume {
    font-size: 50px;
    background: none;
    margin: 0px;
    color: aqua;
    padding: 15px;
  }

  .toggle-container {
    font-size: 30px;
    margin-bottom: 15px;
    padding: 0px;
  }

  .a.resume.link-style {
    color: aqua;

  }

  .sections-mobile {
    font-size: 50px;
    color: aqua;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.3s ease;
    background-color: #000000;
  }

  .light-mode .sections-mobile {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  .light-mode .menu-toggle div {
    background-color: #000000;
    color: rgb(0, 0, 0);
  }

  .menu-toggle {
    color: #000000;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.3s ease;
  }

  .menu-toggle div {
    width: 24px;
    height: 7px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: all 0.3s ease;
  }

  .menu-toggle.active {
    transform: rotate(90deg);
  }

  .menu-toggle.active {
    transform: rotate(90deg) translate(0, 0);
    transition: all 0.3s ease;
  }

  .navbar.active .sections {
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
  }

  .navbar.active .sections a {
    display: block;
    margin: 10px 0;
  }

  a:visited {
    color: aqua;
  }
}